@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

body {
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    min-height: 100vh;
}

/* landing page hero */
.hero-container {
    display: flex;
    align-items: space-between;
    max-width: 1160px;
    padding-bottom: 80px;
    text-align: center;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
    max-width: 760px;
    padding-bottom: 30px;
    padding-top: 200px;
}

.hero-subtext {
    font-family: 'Oxygen Mono', monospace;
    font-size: 22px;
    max-width: 760px;
    padding-bottom: 30px;
    line-height: 160%;
    letter-spacing: 0.24px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.try-button,
.github-button,
.trainmodel-button {
    display: inline-block;
    height: 64px;
    width: 208px;
    font-family: 'Oxygen Mono', monospace;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border: 1.5px solid;
    border-radius: 8px;
    margin: 20px;
}

.try-button {
    background-color: black;
    color: white;
}

.github-button {
    background-color: black;
    color: #00FF75;
    border-color: #00FF75;
}

/* image classification gifs */
 /* .gif-container {

}  */

.hero-gif {
    max-width: 100%;
    height: auto;
    display: block;
}


/* how to section */
.how-container {
    background-color: #111111;
    width: 1160px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: space-between;
    padding: 30px 0px 30px 0px;
    margin: 80px;
}

.how-to-title {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 30px;
}

.how-to-box {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 35%;
    padding-bottom: 30px;
}

.how-to-icon {
    height: 50px;
    width: 50px;
}

.how-to-text {
    font-family: 'Oxygen Mono', monospace;
    font-size: 20px;
    margin-left: 20px;
}

.trainmodel-button {
    background-color: #111111;
    color: #00FF75;
    border-color: #00FF75;
    font-size: 12px;
    width: 260px;
    height: 60px;
}